<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <app-logo></app-logo>
    <app-logo-alt (mensajeEmit)="obtenerMensaje($event)" ></app-logo-alt>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" (click)="revisarHijo()">{{ mensajeHijo }}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">{{ nombreMenu }}</a>
        </li>
        <li class="nav-item active" *ngFor="let menu of listadoMenus">
          <a class="nav-link" routerLink="{{ menu.path }}">{{ menu.nombre }}</a>
        </li>
        <li *ngIf="!sessionIniciada" class="nav-item">
          <a class="nav-link" routerLink="/seguridad/login">Iniciar Sesión</a>
        </li>        
      </ul>
    </div>
  </nav>